<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>readyAppFront</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kftc-bankpay</string>
		<!-- 계좌 이체 --> 
		<string>ispmobile</string> 
		<!-- ISP --> 
		<string>itms-apps</string> 
		<!-- 앱스토어 -->
		<string>hdcardappcardansimclick</string> 
		<!--현대카드-앱카드 --> 
		<string>hyundaicardappcardid</string> 
		<!--현대카드 - 공인인증서 --> 
		<string>shinhan-sr-ansimclick</string> 
		<!-- 신한카드 - 앱카드 --> 
		<string>smshinhanansimclick</string> 
		<!-- 신한카드 - 공인인증서 --> 
		<string>kb-acp</string> 
		<string>kb-auth</string>
		<!-- 국민카드 - 앱카드 --> 
		<string>mpocket.online.ansimclick</string> 
		<!-- 삼성카드 - 앱카드 --> 
		<string>ansimclickscard</string> 
		<string>ansimclick</string>
		<!-- 삼성카드 - 온라인결제 --> 
		<string>ansimclickipcollect</string>
		<!-- 삼성카드 - 온라인결제 --> 
		<string>vguardstart</string>
		<!-- 삼성카드 - 백신 --> 
		<string>samsungpay</string>
		<!-- 삼성카드 - 삼성페이 --> 
		<string>scardcertiapp</string>
		<!-- 삼성카드 - 공인인증서 --> 
		<string>lottesmartpay</string>
		<!-- 롯데카드 - 모바일결제 --> 
		<string>lotteappcard</string>
		<!-- 롯데카드 -	앱카드 --> 
		<string>cloudpay</string>
		<!-- 하나카드 - 앱카드 --> 
		<string>nhappcardansimclick</string>
		<!-- 농협카드 - 앱카드 --> 
		<string>nonghyupcardansimclick</string> 
		<!-- 농협카드 - 공인인증서 -->
		<string>citispay</string>
		<!-- 씨티카드 - 앱카드 --> 
		<string>citicardappkr</string>
		<!-- 씨티카드 - 공인인증서 --> 
		<string>citimobileapp</string>
		<!-- 씨티카드 - 간편결제 --> 
		<string>kakaotalk</string>
		<!-- 카카오톡 -->
		<string>payco</string>
		<!-- 페이코 -->
		<string>lpayapp</string>
		<!-- 롯데 L페이 --> 
		<string>hanamopmoasign</string>
		<!-- 하나카드 공인인증앱 --> 
		<string>com.wooricard.wcard</string>
		<!-- 우리페이 --> 
		<string>nhallonepayansimclick</string> 
		<!-- NH 올원페이 --> 
		<string>hanawalletmembers</string>
		<!-- 하나카드(하나멤버스 월렛 ) --> 
		<string>chaipayment</string>
		<!-- 차이앱  --> 
		<string>lguthepay-xpay</string>
		<!-- 페이나우 -->
		<string>liivbank</string> 
		<!-- 리브 모바일 --> 
		<string>lmslpay</string> 
		<string>lpayapp</string> 
		<!-- L.pay --> 
		<string>newsmartpib</string> 
		<!-- 우리WON뱅킹 -->
</array>
</dict>
</plist>
